/data/
/datac/
/mydata/
/mydatac/
/datamc/
/embedding/
/now/data/
**/__pycache__/
/outputsnew/**/checkpoints/
/outputsnew/**/imgs/
/outputsnewc/**/checkpoints/
/outputsnewc/**/imgs/
/tmp/**/imgs/
/outputs2028/**/checkpoints/
/outputs2028/**/imgs/
/SMPL/